## folders
.venv/
.env/
__pycache__/
.pytest_cache/
.mypy_cache/
.vscode/

# project specific
logs/

## files
*.pyc
*.log
*.log.zip
*.log.*
test.py
.python-version
.pre-commit-config.yaml
.pre-commit-config.yaml.template
.DS_Store

# dotenv
.env
.dev.env
.secrets
.vars
